hr {margin:0;} 
#main-wrap{overflow:visible;}
#menu-top ul li{font-size:1.02em;}
#content-footer{height:60px;}
.opinion span.button input{padding-left:4px;text-align:center;}
.opinion span.results{display:block;margin-right:3px;}
#content-wrap{overflow:hidden;}